:root {
  --kui-radius: 0.5rem;
  --kui-font: "Inter var", system-ui, sans-serif;

  --kui-duration-fast: 150ms;
  --kui-duration-normal: 200ms;
  --kui-duration-slow: 300ms;

  --kui-ease-default: cubic-bezier(0.4, 0, 0.2, 1);
  --kui-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --kui-ease-out: cubic-bezier(0, 0, 0.2, 1);
}